body {
    font-weight: bold;
    margin: 2rem;
    text-align: center;
}

h3 {
    font-weight: 500;
    color: #555;
    margin: 0.4rem 0;
}

svg {
    border: 2px solid #ccc;
}

button {
    outline: none;
    color: #555;
    border-color: #eee;
    background: #fefefe;
    padding: 3px 0px;
    width: 60px;
    text-align: center;
    transition: all 400ms;
}

button:hover {
    background: yellow;
}

button:focus {
    background: pink;
}